<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head.ejs') %>
  <title>Create Team - Terrible Teddies</title>
</head>
<body>
  <%- include('partials/_nav.ejs') %>
  <div class="container">
    <h1>Create a New Team</h1>
    <form action="/teams/create" method="POST">
      <div class="form-group">
        <label for="teamName">Team Name:</label>
        <input type="text" id="teamName" name="name" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Create Team</button>
    </form>
  </div>
  <%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</body>
</html>