<!DOCTYPE html>
<html>
<head>
  <% include partials/_head.ejs %>
</head>
<body>
  <% include partials/_nav.ejs %>
  <h1>End Game Challenges</h1>
  <div id="endGameContent">
    <!-- Events will be loaded here by endGame.js -->
  </div>
  <% include partials/_footer.ejs %>
  <script src="/js/endGame.js"></script>
</body>
</html>