<!DOCTYPE html>
<html>
<head>
    <% include partials/_head %>
    <title>Feedback Summary Dashboard</title>
</head>
<body>
    <% include partials/_header %>
    <div class="container mt-4">
        <h1>Feedback Summary</h1>
        <div id="feedback-summary-container">
            <!-- Feedback summary statistics will be dynamically inserted here -->
        </div>
    </div>
    <% include partials/_footer %>
</body>
</html>