<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>the_terrible_teddies</h1>
        <a href="/teddies" class="btn btn-primary mt-3">Go to Teddies</a>
        <!-- Feedback Form Start -->
        <div class="feedback-form mt-4">
          <h2>Feedback</h2>
          <form action="/submit-feedback" method="post">
            <div class="form-group">
              <label for="feedback">Your Feedback:</label>
              <textarea class="form-control" id="feedback" name="feedback" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit Feedback</button>
          </form>
        </div>
        <!-- Feedback Form End -->
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>