
      @keyframes rock-Baker Bliss {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Baker Bliss-animation {
        animation: rock-Baker Bliss 1s infinite;
      }
      