
      @keyframes rock-Baroque Blush {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Baroque Blush-animation {
        animation: rock-Baroque Blush 1s infinite;
      }
      