
      @keyframes rock-Count Cuddula {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Count Cuddula-animation {
        animation: rock-Count Cuddula 1s infinite;
      }
      