
      @keyframes rock-Geisha Grace {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Geisha Grace-animation {
        animation: rock-Geisha Grace 1s infinite;
      }
      