
      @keyframes rock-Grumpy Gus {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Grumpy Gus-animation {
        animation: rock-Grumpy Gus 1s infinite;
      }
      