
      @keyframes rock-Sneaky Pete {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Sneaky Pete-animation {
        animation: rock-Sneaky Pete 1s infinite;
      }
      