
      @keyframes rock-Temptress Tanya {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Temptress Tanya-animation {
        animation: rock-Temptress Tanya 1s infinite;
      }
      