
      @keyframes rock-Tipsy Toby {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Tipsy Toby-animation {
        animation: rock-Tipsy Toby 1s infinite;
      }
      