
      @keyframes rock-Viking Vex {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Viking Vex-animation {
        animation: rock-Viking Vex 1s infinite;
      }
      