
      @keyframes rock-Vixen Veronica {
        0%, 100% { transform: rotate(-3deg); }
        50% { transform: rotate(3deg); }
      }

      .Vixen Veronica-animation {
        animation: rock-Vixen Veronica 1s infinite;
      }
      